* {
    margin: 0px;
    padding: 0px;
    color: white;
    text-decoration: none;
    user-select: none;
}

body {
    font-family: Gill Sans, sans-serif;
    background: url("background.gif");
    background-color: black;
    background-size: 100vw;
    background-repeat:space;
    overscroll-behavior: none;
    overflow: hidden;
}

/* NAVIGATION BAR */

#title {
    color: white;
    font-size: 3em;
    justify-content: center;
    /* height: 50px; */
}

.navbar {
    background-color: rgba(255, 255, 255, 0.05);
    /* overflow: hidden; */
    /* width: 100%; */
    backdrop-filter: blur(100px);
    padding: 0.5em;
    display: grid;
    grid-template-columns: 0fr 2fr 1fr;
}
.logo {
    width: 3em;
    height: 3em;
    margin: 0.5em;
}

#title:hover {
    text-shadow: 0px 0px 10px #ffffff;
}

.logs {
    display: flex;
    justify-content: right;
    padding-right: 1em;
}

#log-button {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 0.5em;
    cursor: pointer; 

    display: inline-block;
    text-align: center;
    padding: 1em;
    margin: 0.25rem;
    min-width: fit-content;
    padding-right: 30px;
    padding-left: 30px;
    transition: all 200ms ease-in-out;
}

#log-button:hover {
    transform: scale(0.96);
    background-color: rgba(255, 255, 255, 0.1);
}

/* aSIDE BAR */

aside {
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(100px);
    max-width: 20%;
    padding: 1em;
    margin: 0.5em;
    border-radius: 10px;
    display: block;
    min-width: 350px;
}
aside ul li {
    background: linear-gradient(to right, #ffa11e12 0%, #ffa11e9e 100%);
    text-decoration: none;
    display: block;
    width: 100%;
    height: 2rem;
    margin-top: 5px;
    padding: 10px 0px 10px 5px;
    border-radius: 0.5em;
    justify-content: center;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.sidebar li .homebutton { 
    display: inline-block;  
    position: absolute;
    justify-content: center;
    font-size: 1.5rem;
}

aside ul li:hover {
    transform: scale(0.96);
    box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.5);
    opacity: 0.85;
}

.icon {
    aspect-ratio:initial;
    width:  40px;
    height: 40px;
    justify-self: center;
    margin: 0px 20px 2px 5px;
    }
    
    .contain {
        display: inline-flex;
    }
    
    .containaside {
        display: absolute;
    }
    
    #profileicon {
        background: linear-gradient(to right, #ff1ebc12 0%, #a300889e 100%);
}

/* ARTICLE HEREEEEEE */

article {
    padding: 3rem;
}

.bigh2 {
    font-size: 20vh;
}

.conlogo {
    display: inline-block;
    width: 20%;
}

.desc {
    font-size: 2vh;
}

/* ITS GAMING TIME GAME */

#game-area {
 position: relative;
 width: 90vw;
 height: 50vh;
 margin: 40px auto 0 auto;
 overflow: hidden;
}

#target {
  position: absolute;
  width: 70px;
  height: 70px;
  background: orange;
  cursor: pointer;
  display: none;
  border-radius: 50%;
}

#info {
  display: block;
  /* justify-content: center;
  align-items: center;
  flex-direction: column; */
  text-align: center;
  background-color: rgba(255, 255, 255, 0.05);
}

#infocontent {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: (10px);
}

.gamebody {
    backdrop-filter: (20px);
}

#timer, #score {
  color: #ffa11e;
}
#start-btn {
  font-size: 1.3em;
  color: white;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(100px);
  border: none;
  padding: 0.5em 2em;
  border-radius: 0.5em;
  display: block;
  margin: 2em auto 0 auto;
}

#start-btn:hover {
    transform: 
}

/* INFORMATION / TUTORIAL PAGE  */

.infotext {
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(100px);
  word-wrap: break-word;
  font-size: 2em;
  border-radius: 2rem;
  padding: 2rem;
  margin: 2rem;
  text-align: center;
}

#homealt {
  /* margin: 2em auto 0 auto; */
  display: block;
  cursor: pointer; 
}

#homealt:hover {
    transform: scale(0.96);
    box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.5);
    opacity: 0.85;
}