@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,500;1,14..32,500&display=swap');

* {
    margin: 0px;
    padding: 0px;
    color: white;
    text-decoration: none;
}
body {
    font-family: Inter;
    background: url('background.gif');
    background-color: black;
    background-size: 100vw;
    background-repeat:space;
    overscroll-behavior: none;
    overflow: hidden;
}

/* NAVIGATION BAR */

#title {
    color: white;
    font-size: 3em;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    justify-content: center;
}
.navbar {
    background-color: rgba(255, 255, 255, 0.05);
    overflow: hidden;
    width: 100%;
    backdrop-filter: blur(100px);
    padding: 0.1em;
    display: grid;
        grid-template-columns: 0fr 2fr 1fr;
}
.logo {
    width: 3em;
    height: 3em;
    margin: 0.5em;
}

.logs {
    display: flex;
    justify-content: right;
}

#log-button {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 0.5em;
    cursor: pointer; 

    display: inline-block;
    text-align: center;
    padding: 1em;
    margin: 0.25rem;

}

/* aSIDE BAR */

aside {
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(100px);
    max-width: 20%;
    padding: 1em;
    margin: 0.5em;
    border-radius: 10px;
    min-height: 100%;
}
aside ul li {
    text-decoration: none;
    background: linear-gradient(to right, #ffa11e12 0%, #ffa11e9e 100%);
    display: block;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 10px 0px 10px 5px;
    border-radius: 0.5em;
}
